{% extends 'base.html' %}
{% block content %}
   
    <div class="row-fluid">
      <h3>Pet Tracker</h3>
      <table>
        <tr>
          <th>Name</th>
          <th>Age</th>
          <th></th>
          <th></th>
        </tr>
        {% for pet in pets %}
          <tr>
            <td>
              {{ pet['name'] }}
            </td>
            <td>
              {{ pet['age'] }}
            </td>
            <td>

            </td>
            <td>

            </td>
          </tr>
        {% endfor %}
      </table>
    </div>

{% endblock %}