{% extends 'base.html' %}
{% block content %}
   
    <div class="row-fluid">
      <h3>Pet Tracker: Events</h3>
      <div>
        <form action="/events/new" method="get" class="new-event">
          <button>Add Event</button>
        </form>
      </div>
      <table>
        <tr>
          <th>Type</th>
          <th>Pet</th>
          <th>Meta</th>
        </tr>
        {% for type, event in events.items() %}
          {% for pet, value in event.items() %}
            <tr>
              <td>
                <img src="/assets/{{ type }}Icon.svg" alt="{{ type }}" style="width: 50px; height: 50px; vertical-align: middle;" />
              </td>
              <td>
                {{ pet }}
              </td>
              <td>
                {{ value }}
              </td>
            </tr>
          {% endfor %}
        {% endfor %}
      </table>
    </div>

{% endblock %}