{% extends 'base.html' %}
{% block content %}
   
    <div class="row-fluid">
      <h3>Pets</h3>
      <form action="/events" method="get" class="events">
        <button type="submit" aria-label="View all events">Events</button>
      </form>
      <table role="table" aria-label="Pets table">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Age</th>
            <th scope="col"></th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
        {% for pet in pets %}
          <tr>
            <td>
              {{ pet['name'] }}
            </td>
            <td>
              {{ pet['age'] }}
            </td>
            <td>
            </td>
            <td>
            </td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>

{% endblock %}