<!doctype html>
<html lang="en">
<head>
  <title>Pet Tracker</title>
  <!-- <link rel="shortcut icon" href="static/img/favicon.ico"> -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/assets/styles.css">
</head>

<body role="document">
    <div class="row-fluid">
      <h3>Pet Tracker: Login</h3>
      {% if error %}
        <div class="error">{{ error }}</div>
      {% endif %}
      <form action="/" method="post" class="login" aria-label="Login form">
        <div class="login-field">
          <label for="email">Email:</label>
          <input type="text" name="email" id="email" aria-label="Enter your email address" autocomplete="email" required/>
        </div>
        <button type="submit" aria-label="Log in to your account">Log in</button>
      </form>
    </div>
  </body>
</html>