{% extends 'base.html' %}
{% block content %}
   
    <div class="row-fluid">
      <h3>Pet Tracker: Login</h3>
      {% if error %}
        <div class="error">{{ error }}</div>
      {% endif %}
      <form action="/" method="post" class="login" aria-label="Login form">
        <div class="login-field">
          <label for="email">Email:</label>
          <input type="text" name="email" id="email" aria-label="Enter your email address" autocomplete="email" required/>
        </div>
        <button type="submit" aria-label="Log in to your account">Log in</button>
      </form>
    </div>

{% endblock %}